# Configuration files with sensitive data

# Python cache files
__pycache__/
*.pyc

# Data files (you may want to include some of these)
*.mp4
*.wav
*.csv
*.json 

# custom 
notebooks/
*.ipynb
RAG_INTEGRATION_BRAINSTORM.md
LANGGRAPH_USECASES.md