# Configuration files with sensitive data
config.py

# Python cache files
__pycache__/
*.pyc

# Data files (you may want to include some of these)
*.mp4
*.wav
*.csv
*.json 

# custom 
LANGGRAPH_USECASES.md
RAG_INTEGRATION_BRAINSTORM.md

notebooks/
*.ipynb

installation.txt